.footer {
    padding:1rem;
    padding-top: 2.5rem;
    margin-top: 2.5rem;
    border-top:.3rem solid rgb(0, 0, 0);
    font-size: 2rem;
    color:rgb(67, 67, 67);
    text-align: center;
    font-weight: bold;


}

.footer  span{
    color:rgba(255, 98, 0, 0.991);
    font-weight: bold;
}

